{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wormhole</title>
	<link rel="stylesheet" href="{% static 'lecture/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lecture/css/index.css' %}">
	<script src="{% static 'lecture/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'lecture/js/animator.min.js' %}"></script>
	<script src="{% static 'lecture/js/rankingTableUpdate.js' %}"></script>
</head>
<body>
	<!--<div id="information">
		<div class="middle-text">
			<a href="/"><img id="logout" class="top-image" src="{% static 'lecture/images/logout.png' %}" alt="Logout"></a>
			<a href="{{ lectureHash }}?audience=1"><img id="audience-view" class="top-image" src="{% static 'lecture/images/audience.gif' %}" alt="Audience View"></a>
		</div>
	</div>-->
	<div id="actual-content" style="margin-top: 0;">
		<span id="lecture-text" style="display: block;">{{ lecture.name }}</span>
		{% include 'AudienceQuestionTable.html' %}
	</div>
	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function endsWith(str, suffix) {
			return str.indexOf(suffix, str.length - suffix.length) !== -1;
		}
	</script>
	<script>
		function updateQuestionVotes(questionID) {
			var csrftoken = getCookie('csrftoken');
			lectureHash = window.location.pathname.substring(1);
			jQuery.post("questionupdate", {
				"csrfmiddlewaretoken": csrftoken,
				"lectureHash": lectureHash,
				"questionID": questionID,
				"audience": 1
			}, function(data, jqXHR, textStatus) {
				if(data == "NO")
				{
					alert("Oops! An error occured. The page will now be refreshed.");
					location.reload();
				}
				//Update every row with their new values
				$(data).find("tr").each(function(index, e) {
					if(index == 0)
					{
						return;
					}
					rowID = $($(e).find(".question-id")).val();
					$("#db-info tr").each(function(index2, e2) {
						if( $($(e2).find(".question-id")).val() == rowID)
						{
							$(e2).find(".first-col-change")[0].innerHTML = $(e).find(".first-col-change")[0].innerHTML;
							//Stop the loop
							return false;
						}
					});
				});
				$("#db-info").rankingTableUpdate($(data), {
					extractIdFromCell: function(td){
						return $(td).children("input").val();
					},
					animationSettings: {
						up: {
							left: 0,
							backgroundColor: '#CCFFCC'
						},
						down: {
							left: 0,
							backgroundColor: '#FFCCCC' //the same red as 'down'
						},
						fresh: {
							left: 0,
							backgroundColor: '#CCFFCC' //the same green as 'up'
						},
						drop: {
							left: 0,
							backgroundColor: '#FFCCCC'
						}
					}
				});
			});
			clearInterval(loop);
			loop = setTimeout(updateQuestionVotes, 5000);
		}
		//reference to the infinite loop..
		var loop = null;
		loop = setTimeout(updateQuestionVotes, 5000);
	</script>
</body>
</html>