{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<title>Wormhole Lecture Questions - Admin</title>
	<link rel="stylesheet" href="{% static 'lecture/css/index.css' %}">
	<script src="{% static 'lecture/js/animator.min.js' %}"></script>
	<script src="{% static 'lecture/js/rankingTableUpdate.js' %}"></script>
{% endblock %}
{% block logoutLink %}/adminlogin{% endblock %}
{% block content %}
	<div id="actual-content">
		<p id="lecture-text">{{ lecture.name }} (<a href="{{ lectureHash }}?audience=1">Audience View</a>)</p>
		{% include "AdminQuestionTable.html" %}
	</div>
	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function endsWith(str, suffix) {
			return str.indexOf(suffix, str.length - suffix.length) !== -1;
		}
	</script>
	<script>
		function hookLinks() {
			$(".delete").click(function(e) {
				if(confirm("Are you sure?"))
				{
					var item = $(e.currentTarget);
					questionID = item.parent().find(".question-id").val();
					performRequest("deletequestion", questionID);
				}
			});
			$(".answer").click(function(e) {
				var item = $(e.currentTarget);
				questionID = item.parent().find(".question-id").val();
				performRequest("answerquestion", questionID);
			});
		}
		function performRequest(destination, questionID) {
			var csrftoken = getCookie('csrftoken');
			lectureHash = window.location.pathname.substring(1);
			jQuery.post(destination, {
				"csrfmiddlewaretoken": csrftoken,
				"lectureHash": lectureHash,
				"questionID": questionID,
				"audience": 0
			}, function(data, jqXHR, textStatus) {
				if(data == "NO")
				{
					alert("Oops! An error occured. The page will now be refreshed.");
					location.reload();
				}
				else
				{
					updateQuestionVotes();
				}
			});
		}
		hookLinks();
		function updateQuestionVotes() {
			var csrftoken = getCookie('csrftoken');
			lectureHash = window.location.pathname.substring(1);
			jQuery.post("questionupdate", {
				"csrfmiddlewaretoken": csrftoken,
				"lectureHash": lectureHash
			}, function(data, jqXHR, textStatus) {
				if(data == "NO")
				{
					alert("Oops! An error occured. The page will now be refreshed.");
					location.reload();
				}
				//Update every row with their new values
				$(data).find("tr").each(function(index, e) {
					if(index == 0)
					{
						return;
					}
					rowID = $($(e).find(".question-id")).val();
					$("#db-info tr").each(function(index2, e2) {
						if( $($(e2).find(".question-id")).val() == rowID)
						{
							$(e2).find(".first-col-change")[0].innerHTML = $(e).find(".first-col-change")[0].innerHTML;
							$(e2).find(".second-col-change")[0].innerHTML = $(e).find(".second-col-change")[0].innerHTML;
							$(e2).find(".third-col-change")[0].innerHTML = $(e).find(".third-col-change")[0].innerHTML;
							//Stop the loop
							return false;
						}
					});
				});
				$("#db-info").rankingTableUpdate($(data), {
					extractIdFromCell: function(td){
						return $(td).children("input").val();
					},
					onComplete: hookLinks,
					animationSettings: {
						up: {
							left: 0,
							backgroundColor: '#CCFFCC'
						},
						down: {
							left: 0,
							backgroundColor: '#FFCCCC' //the same red as 'down'
						},
						fresh: {
							left: 0,
							backgroundColor: '#CCFFCC' //the same green as 'up'
						},
						drop: {
							left: 0,
							backgroundColor: '#FFCCCC'
						}
					}
				});
			});
			clearInterval(loop);
			loop = setTimeout(updateQuestionVotes, 5000);
		}
		//reference to the infinite loop..
		var loop = null;
		loop = setTimeout(updateQuestionVotes, 5000);
	</script>
{% endblock %}