<table id="db-info" class="table table-hover">
	<thead>
		<tr>
			<th class="anim:constant">Votes</th>
			<th class="anim:constant">Question</th>
			<th class="anim:constant">Delete</th>
			<th class="anim:constant">Answer</th> <!-- comment -->
		</tr>
	</thead>
	<tbody>
		{% for question in questions %}
			{% if question.answered %}
				<tr class="answered">
			{% else %}
				<tr>
			{% endif %}
			<td class="first-col-change">
				<input type="hidden" class='question-id' value='{{ question.id }}'>
				{{ question.total_votes }}
			</td>
			<td class="question-text">{{ question.question_text }}</td>
			<td class="second-col-change pointer delete">
				DELETE
			</td>
			<td class="third-col-change pointer answer">
				ANSWER
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>