{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'lecture/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lecture/css/login.css' %}">
	<script src="{% static 'lecture/js/jquery-2.1.1.min.js' %}"></script>
	<title>Wormhole Admin Login</title>
</head>
<body>
	<form id="login-form" class="form-horizontal" action="login" method="post">
		{% csrf_token %}
		<fieldset>
			<!-- Form Name -->
			<legend>Wormhole Admin Login</legend>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="lecture-hash">Lecture ID:</label>
				<div class="controls">
					<input id="lecture-hash" name="lecture-hash" placeholder="11111" class="input-xlarge" required="" type="text">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="username">Username:</label>
				<div class="controls">
					<input id="username" name="username" placeholder="Your username" class="input-xlarge" required="" type="text">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="password">Password:</label>
				<div class="controls">
					<input id="password" name="password" placeholder="**********" class="input-xlarge" required="" type="password">
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="submit"></label>
				<div class="controls">
					<button id="submit" name="submit" class="btn btn-primary">Login</button>
					<a href="/"><button type="button" class="btn btn-info">Back</button></a>
				</div>
			</div>
		</fieldset>
	</form>
</body>
</html>