<table id="db-info" class="table table-hover" style="margin-top: 0;">
	<thead>
		<tr>
			<th class="anim:constant">Votes</th>
			<th class="anim:constant">Question</th>
		</tr>
	</thead>
	<tbody>
		{% for question in questions %}
			{% if question.answered %}
				<tr class="answered">
			{% else %}
				<tr>
			{% endif %}
			<td class="first-col-change">
				<input type="hidden" class='question-id' value='{{ question.id }}'>
				{{ question.total_votes }}
			</td>
			<td class="question-text">{{ question.question_text }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>