{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'lecture/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lecture/css/base.css' %}">
	<script src="{% static 'lecture/js/jquery-2.1.1.min.js' %}"></script>
	{% block head %} {% endblock %}
</head>
<body>
	<header>
		<div id="header-left">
			<img src="http://batc.i2r.a-star.edu.sg/static/media/img/nav%20header/batc4.png" alt="BATC Logo" id="batc-logo">
		</div>
		<div id="header-right">
<!--			<a href="http://batc.i2r.a-star.edu.sg/" id="about-us">About us</a> -->
			<a href="{% block logoutLink %}{% endblock %}" id="logout">Logout</a>
		</div>
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		(c) Copyright 2014
	</footer>
</body>
</html>