{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'lecture/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'lecture/css/login.css' %}">
	<script src="{% static 'lecture/js/jquery-2.1.1.min.js' %}"></script>
	<title>Wormhole Login</title>
</head>
<body>
	<form id="login-form" class="form-horizontal" action="login" method="post">
		{% csrf_token %}
		<fieldset>
			<!-- Form Name -->
			<legend>Wormhole Login</legend>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="lecture-hash">Lecture ID:</label>
				<div class="controls">
					<input id="lecture-hash" name="lecture-hash" placeholder="11111" class="input-xlarge" required="" type="text">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="email">Email Address:</label>
				<div class="controls">
					<input id="email" name="email" placeholder="luqman@batc.i2r.a-star.edu.sg" class="input-xlarge" required="" type="text">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="name">Preferred name</label>
				<div class="controls">
					<input id="name" name="name" placeholder="Luqman" class="input-xlarge" required="" type="text">
					<p class="help-block">Any name you would like to be referred to as</p>
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="submit"></label>
				<div class="controls">
					<button id="submit" name="submit" class="btn btn-primary">Submit</button>
					<a href="adminlogin"><button type="button" class="btn btn-info">Admin Login</button></a>
				</div>
			</div>
		</fieldset>
	</form>
</body>
</html>
