{% load staticfiles %}
<table id="db-info" class="table table-hover">
	<thead>
		<tr>
			<th class="anim:constant">&nbsp;</th>
			<th class="anim:constant">Votes</th>
			<th class="anim:constant">Question</th>
		</tr>
	</thead>
	<tbody>
		{% for question in questions %}
			{% if question.answered %}
				<tr class="answered">
			{% else %}
				<tr>
			{% endif %}
			<td class="first-col-change">
				<input type="hidden" class='question-id' value='{{ question.id }}'>
				{% if question.voted %}
					<img src="{% static 'lecture/images/dislike.png' %}" alt="Like" class="vote pointer">
				{% else %}
					<img src="{% static 'lecture/images/like.png' %}" alt="Like" class="vote pointer">
				{% endif %}
			</td>
			<td class="second-col-change">{{ question.total_votes }}</td>
			<td class="question-text">{{ question.question_text }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>