{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
	<title>Wormhole Lecture Questions</title>
	<link rel="stylesheet" href="{% static 'lecture/css/index.css' %}">
	<script src="{% static 'lecture/js/animator.min.js' %}"></script>
	<script src="{% static 'lecture/js/rankingTableUpdate.js' %}"></script>
{% endblock %}
{% block logoutLink %}/{% endblock %}
{% block content %}
	<div id="actual-content">
		<p id="lecture-text">{{ lecture.name }}</p>
		<form id="submit-question" action="{{ lectureHash }}" method="post">
			{% csrf_token %}
			<textarea id="question" name="question" class="form-control" type="text" required="required" placeholder="Ask your question..." ></textarea>
			<br />
			<input id="submit-btn" type="submit" value="Submit" class="btn btn-primary" />
		</form>
		{% include "QuestionTable.html" %}
	</div>
	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function endsWith(str, suffix) {
			return str.indexOf(suffix, str.length - suffix.length) !== -1;
		}
	</script>
	<script>
		function hookVotes() {
			$(".vote").click(function(e) {
				var questionID = $(e.currentTarget).siblings(".question-id").val()
				var csrftoken = getCookie('csrftoken');
				imgSrc = $(e.currentTarget).attr("src");
				destination = null;
				lectureHash = window.location.pathname.substring(1);
				if(endsWith(imgSrc, "dislike.png"))
				{
					destination = "downvote";
				}
				else
				{
					destination = "upvote";
				}
				jQuery.post(destination, {
					"csrfmiddlewaretoken": csrftoken,
					"lectureHash": lectureHash,
					"questionID": questionID
					}, function(data, jqXHR, textStatus) {
						if(data == "OK")
						{
							//Force an update
							updateQuestionVotes();
						}
						else if(data == "NO")
						{
							alert("Oops! An error occured. The page will now be refreshed.");
							location.reload();
						}
					}
				);
			})
		}
		hookVotes();
		function updateQuestionVotes() {
			var csrftoken = getCookie('csrftoken');
			lectureHash = window.location.pathname.substring(1);
			jQuery.post("questionupdate", {
				"csrfmiddlewaretoken": csrftoken,
				"lectureHash": lectureHash
			}, function(data, jqXHR, textStatus) {
				if(data == "NO")
				{
					alert("Oops! An error occured. The page will now be refreshed.");
					location.reload();
				}
				//Update every row with their new values
				$(data).find("tr").each(function(index, e) {
					if(index == 0)
					{
						return;
					}
					rowID = $($(e).find(".question-id")).val();
					$("#db-info tr").each(function(index2, e2) {
						if( $($(e2).find(".question-id")).val() == rowID)
						{
							$(e2).find(".first-col-change")[0].innerHTML = $(e).find(".first-col-change")[0].innerHTML;
							$(e2).find(".second-col-change")[0].innerHTML = $(e).find(".second-col-change")[0].innerHTML;
							//Stop the loop
							return false;
						}
					});
				});
				$("#db-info").rankingTableUpdate($(data), {
					extractIdFromCell: function(td){
						return $(td).children("input").val();
					},
					onComplete: hookVotes,
					animationSettings: {
						up: {
							left: 0,
							backgroundColor: '#CCFFCC'
						},
						down: {
							left: 0,
							backgroundColor: '#FFCCCC' //the same red as 'down'
						},
						fresh: {
							left: 0,
							backgroundColor: '#CCFFCC' //the same green as 'up'
						},
						drop: {
							left: 0,
							backgroundColor: '#FFCCCC'
						}
					}
				});
			});
			clearInterval(loop);
			loop = setTimeout(updateQuestionVotes, 5000);
		}
		//reference to the infinite loop..
		var loop = null;
		loop = setTimeout(updateQuestionVotes, 5000);
	</script>
{% endblock %}