body
{
	/*margin: 0 auto;*/
	/*max-width: 736px;*/
	padding: 0;
}
header
{
	width: 100%;
	height: 100px;
	position: relative;
}
#header-left
{
	float: left;
	height: 100%;
}
#header-left img
{
	height: 100%;
}
#header-right
{
	height: 100px;
}
#header-right>a
{
	position: absolute;
	bottom: 0;
	font-size: 15px;
}
#about-us
{
	right: 30%;
}
#logout
{
	right: 5%;
}
footer
{
	height: 100px;
	width: 100%;
	text-align: center;
	display: block;
	font-size: 30px;
}