#submit-question
{
	position: relative;
}
#submit-question #submit-btn
{
	position: absolute;
	right: 0;
}
#actual-content
{
	overflow: auto;
	margin: 0 0;
}
#actual-content table
{
	width: 100%;
	margin-top: 40px;
	border-top: 1px solid black;
}
#lecture-text
{
	text-align: center;
	font-size: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 20px;
}
.top-image
{
	height: 80px;
}
#audience-view
{
	float: right;	
}
#question
{
	width: 100%;
	display: inline-block;
}
#db-info
{
	font-size: 25px;
}
#response
{
	text-align: center;
	height: 20px;
}
.vote
{
	width: 20px;
}
.first-col-change, .second-col-change, .third-col-change
{
	width: 5%;
}
.answered
{
	opacity: 0.5;
}
#db-info td, #db-info th
{
	text-align: left;
	vertical-align: middle;
}
#db-info .first-col-change, #db-info .second-col-change, #db-info .third-col-change
{
	text-align: center;
}
/* ==== General Styles ==== */
.pointer
{
	cursor: pointer;
}
.no-display
{
	display: none;
}